{% extends 'base.html' %}

{% block title %}Recuperar{% endblock %}

{% block content %}
<!-- Login-->
<div class="card bg-light shadow mt-4" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title text-center">¡Recuperar!</h3>
        <p class="card-text text-center">Para recuperar su contraseña por favor pongase en contacto con el equipo de soporte técnico</p>
        <div class="d-flex justify-content-center mb-3">
            <a class="btn btn-primary" href="mailto:soporte@geotrends.co">Contactar</a>
        </div>
        <div class="d-flex justify-content-center">
            <a class="" href="/crudSystem/login/">Volver</a>
        </div>
    </div>
</div>
{% endblock %}